<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412741437040-i4n6n6qqhl7gvbdq16fg6un2anifvu7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412741437040-i4n6n6qqhl7gvbdq16fg6un2anifvu7h</string>
	<key>API_KEY</key>
	<string>AIzaSyAXW7y2nDWHVc5DTrRk55v3Ky6rmbqhOrg</string>
	<key>GCM_SENDER_ID</key>
	<string>412741437040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sara123.miCardAnimation</string>
	<key>PROJECT_ID</key>
	<string>saragogogodemologin</string>
	<key>STORAGE_BUCKET</key>
	<string>saragogogodemologin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412741437040:ios:939b1f5ac3e2fc84de96b5</string>
</dict>
</plist>